 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Healthy Generations - {% if seo_title|length %}{{ seo_title }}{% else %}{{ title }}{% endif %}</title>

<!-- SEO Meta Tags -->
<meta name="description" content="{% if seo_description|length %}{{ seo_description }}{% else %}Healthy Generations is committed to supporting the health needs of children and youth through various nitiatives and funding priorities.{% endif %}">
<meta name="keywords" content="{% if seo_keywords|length %}{{ seo_keywords }}{% else %}Healthy Generations, children's health, youth health, paediatric advocacy, Canadian Paediatric Society{% endif %}">
<meta name="author" content="Healthy Generations">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://hg-beta.test/">
<meta property="og:title" content="Healthy Generations - {% if seo_title|length %}{{ seo_title }}{% else %}{{ title }}{% endif %}">
<meta property="og:description" content="{% if seo_description|length %}{{ seo_description }}{% else %}Healthy Generations is committed to supporting the health needs of children and youth through various nitiatives and funding priorities.{% endif %}">
<meta property="og:image" content="https://smartseotools.org/placeholder/600x300/D5D5D5/584959">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://hg-beta.test/">
<meta property="twitter:title" content="Healthy Generations - {% if seo_title|length %}{{ seo_title }}{% else %}{{ title }}{% endif %}">
<meta property="twitter:description" content="{% if seo_description|length %}{{ seo_description }}{% else %}Healthy Generations is committed to supporting the health needs of children and youth through various nitiatives and funding priorities.{% endif %}">
<meta property="twitter:image" content="https://smartseotools.org/placeholder/600x300/D5D5D5/584959">

<!-- Favicon -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
<link rel="manifest" href="/assets/img/site.webmanifest">
<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#e27300">
<meta name="msapplication-TileColor" content="#e27300">
<meta name="theme-color" content="#ffffff">

<!-- Canonical URL -->
<link rel="canonical" href="https://hg-beta.test/">

<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>